In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
def load_and_process('C:/Users/Don/Desktop/DATA 301/Project')

dff = pd.read_csv("C:/Users/Don/Desktop/DATA 301/Project/FiresNEW.csv", encoding = 'ISO-8859-1', low_memory=False)
dff = (
    dff.drop(columns=["FOD_ID","FPA_ID","SOURCE_SYSTEM_TYPE","SOURCE_SYSTEM","NWCG_REPORTING_AGENCY","NWCG_REPORTING_UNIT_ID","NWCG_REPORTING_UNIT_NAME","SOURCE_REPORTING_UNIT","SOURCE_REPORTING_UNIT_NAME","LOCAL_FIRE_REPORT_ID","LOCAL_INCIDENT_ID","FIRE_CODE","FIRE_NAME","ICS_209_PLUS_INCIDENT_JOIN_ID","ICS_209_PLUS_COMPLEX_JOIN_ID","MTBS_ID","MTBS_FIRE_NAME","COMPLEX_NAME","DISCOVERY_DATE","DISCOVERY_DOY","DISCOVERY_TIME","NWCG_GENERAL_CAUSE","NWCG_CAUSE_AGE_CATEGORY","CONT_DATE","CONT_DOY","CONT_TIME","LATITUDE","LONGITUDE","OWNER_DESCR","COUNTY","FIPS_CODE","FIPS_NAME"])
    .drop(dff[dff.NWCG_CAUSE_CLASSIFICATION == 'Human'].index)
    .drop(dff[dff.NWCG_CAUSE_CLASSIFICATION == 'Missing data/not specified/undetermined'].index)
    .dropna()
    .drop(dff[(dff.FIRE_SIZE_CLASS == 'A')].index)
    .drop(columns=['NWCG_CAUSE_CLASSIFICATION'])
)
dfstate = pd.read_csv("C:/Users/Don/Desktop/DATA 301/Project/csvData.csv")
dfstate = (
    dfstate.drop(columns='Abbrev')
    .rename(columns={'Code':'STATE'})
)
dftemp=pd.read_csv("C:/Users/Don/Desktop/DATA 301/Project/tavg.csv")
f = lambda dftemp : dftemp['Location'].split("CD")
dftemp['Location'] = dftemp.apply(f, axis=1)
g = lambda dftemp : dftemp['Location'].pop(0)
dftemp['Location'] = dftemp.apply(g, axis=1)
dftemp.reset_index()
dftemp = dftemp.drop(columns=['Location ID','Value','Rank','Anomaly (1901-2000 base period)'])
dftemp['Celsius'] = (dftemp['1901-2000 Mean']-32)*5/9
dftemp['Celsius'] = dftemp['Celsius'].round(1)
dftemp = dftemp.drop(columns=['1901-2000 Mean'])
dftemp = dftemp.drop(dftemp[dftemp.Date % 10 != 7].index)
dftemp['Date'] = dftemp['Date']//100
dftemp['Date'] = dftemp['Date'].astype(int)

return dftemp

SyntaxError: invalid syntax (Temp/ipykernel_9816/952030794.py, line 1)

         FIRE_YEAR  FIRE_SIZE FIRE_SIZE_CLASS STATE
1             2004       0.25               A    CA
3             2004       0.10               A    CA
4             2004       0.10               A    CA
5             2004       0.10               A    CA
6             2004       0.10               A    CA
...            ...        ...             ...   ...
2166704       2016    1200.00               F    FL
2166706       2017    1200.00               F    NM
2166724       2016     441.00               E    AR
2166725       2016     427.00               E    MT
2166726       2017     415.00               E    CO

[312807 rows x 4 columns]

                   State STATE
0                Alabama    AL
1                 Alaska    AK
2                Arizona    AZ
3               Arkansas    AR
4             California    CA
5               Colorado    CO
6            Connecticut    CT
7               Delaware    DE
8   District of Columbia    DC
9                Florida    FL
10               Georgia    GA
11                Hawaii    HI
12                 Idaho    ID
13              Illinois    IL
14               Indiana    IN
15                  Iowa    IA
16                Kansas    KS
17              Kentucky    KY
18             Louisiana    LA
19                 Maine    ME
20              Maryland    MD
21         Massachusetts    MA
22              Michigan    MI
23             Minnesota    MN
24           Mississippi    MS
25              Missouri    MO
26               Montana    MT
27              Nebraska    NE
28                Nevada    NV
29         New Hampshire    NH
30            New Jersey    NJ
31            New Mexico    NM
32              New York    NY
33        North Carolina    NC
34          North Dakota    ND
35                  Ohio    OH
36              Oklahoma    OK
37                Oregon    OR
38          Pennsylvania    PA
39          Rhode Island    RI
40        South Carolina    SC
41          South Dakota    SD
42             Tennessee    TN
43                 Texas    TX
44                  Utah    UT
45               Vermont    VT
46              Virginia    VA
47            Washington    WA
48         West Virginia    WV
49             Wisconsin    WI
50               Wyoming    WY

        Location  Date  Celsius
6       Alabama   1895     26.0
18      Alabama   1896     26.0
30      Alabama   1897     26.0
42      Alabama   1898     26.0
54      Alabama   1899     26.0
...          ...   ...      ...
522132  Wyoming   2016     18.1
522144  Wyoming   2017     18.1
522156  Wyoming   2018     18.1
522168  Wyoming   2019     18.1
522180  Wyoming   2020     18.1

[43344 rows x 3 columns]